body {
  position: relative;
  height: 100vh;
  background-color: #1f1f1f;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
body header {
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header h1 a {
  margin: 0;
  text-decoration: none;
  color: #fff;
}
@media (max-width: 768px) {
  body header h1 a {
    font-size: 36px;
  }
}
body header nav {
  display: flex;
  gap: 16px;
}
body header nav a {
  color: #fff;
}
@media (max-width: 768px) {
  body header nav a {
    font-size: 36px;
  }
}
body main {
  display: flex;
  justify-content: center;
  padding: 16px 32px;
}
body main section,
body main .view {
  max-width: 1200px;
}
body main h2 {
  margin: 32px 0;
  padding: 16px;
  text-align: center;
  color: #000;
  background-color: #25ffed;
}
@media (max-width: 768px) {
  body main h2 {
    font-size: 36px;
  }
}
body main h3 {
  margin-top: 0;
}
.home__copy--primary {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  padding: 16px 16px 0 16px;
  background-color: #292929;
  border-bottom: 2px solid #25ffed;
}
@media (max-width: 768px) {
  .home__copy--primary {
    flex-direction: column-reverse;
  }
}
.home__copy--primary img {
  height: 350px;
}
@media (max-width: 768px) {
  .home__copy--primary img {
    height: 550px;
  }
}
@media (max-width: 768px) {
  .home__copy--primary p {
    font-size: 36px;
  }
}
.home__skills {
  margin: 64px 0 32px 0;
}
.home__skills .skills-section .skills-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.home__skills .skills-section .skills-list li {
  list-style: none;
}
.home__skills .skills-section .skills-list li img {
  height: 80px;
}
.home__skills .skills-section .skills-list li[title="Less"] img {
  height: 50px;
}
.home__contact {
  margin: 64px 0 32px 0;
}
.home__contact > div {
  display: flex;
  justify-content: center;
  gap: 64px;
  margin-bottom: 64px;
}
@media (max-width: 768px) {
  .home__contact > div {
    gap: 36px;
  }
}
.home__contact > div div {
  display: flex;
  align-items: center;
  gap: 16px;
}
.home__contact > div div img {
  height: 32px;
}
.home__contact > div div a {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 768px) {
  .home__contact > div div a {
    font-size: 36px;
  }
}
#jobs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
#jobs-container .card.job-card {
  padding: 16px;
  width: 46.6%;
  background-color: #292929;
  border-bottom: 2px solid #25ffed;
}
@media (max-width: 1256px) {
  #jobs-container .card.job-card {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #jobs-container .card.job-card h3,
  #jobs-container .card.job-card p,
  #jobs-container .card.job-card ul li {
    font-size: 36px;
  }
}
#education-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
#education-container .card.education-card {
  padding: 16px;
  width: 46.6%;
  background-color: #292929;
  border-bottom: 2px solid #25ffed;
}
@media (max-width: 1256px) {
  #education-container .card.education-card {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #education-container .card.education-card h3,
  #education-container .card.education-card p,
  #education-container .card.education-card ul li {
    font-size: 36px;
  }
}
#courses-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
#courses-container .card.course-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 29.6%;
  border: 1px solid #25ffed;
  border-radius: 8px;
}
@media (max-width: 1256px) {
  #courses-container .card.course-card {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #courses-container .card.course-card .course-information h3,
  #courses-container .card.course-card .course-information p {
    font-size: 36px;
  }
}
#courses-container .card.course-card .course-certificade {
  display: flex;
  justify-content: flex-end;
  width: auto;
}
#courses-container .card.course-card .course-certificade a {
  padding: 4px 8px;
  background-color: #25ffed;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
@media (max-width: 768px) {
  #courses-container .card.course-card .course-certificade a {
    font-size: 36px;
  }
}
#blog-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
#blog-container article {
  padding: 16px;
  width: 46.6%;
  background-color: #292929;
  border-bottom: 2px solid #25ffed;
}
@media (max-width: 1256px) {
  #blog-container article {
    width: 100%;
  }
}
#blog-container article > div {
  display: flex;
  justify-content: flex-end;
  width: auto;
}
@media (max-width: 768px) {
  #blog-container article > div h3,
  #blog-container article > div p {
    font-size: 36px;
  }
}
#blog-container article > div a {
  padding: 4px 8px;
  background-color: #25ffed;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
@media (max-width: 768px) {
  #blog-container article > div a {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .blog__post {
    max-width: 880px;
  }
}
.blog__post .blog__main-image {
  margin-bottom: 32px;
  padding: 16px;
  background-color: #fff;
  border-radius: 62px;
}
.blog__post h3 {
  margin-top: 32px;
}
.blog__post pre {
  padding: 16px 16px 0 16px;
  background-color: #292929;
}
.blog__post img {
  width: -webkit-fill-available;
}
