body {
  position: relative;
  height: 100vh;
  background-color: #1f1f1f;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
body header {
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header h1 a {
  margin: 0;
  text-decoration: none;
  color: #fff;
}
body header nav {
  display: flex;
  gap: 16px;
}
body header nav a {
  color: #fff;
}
body main {
  padding: 16px 32px;
}
body main section h2 {
  margin: 32px 8px;
  padding: 16px;
  text-align: center;
  color: #000;
  background-color: #25ffed;
}
body main section h3 {
  margin-top: 0;
}
.home .home__copy {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  padding: 16px 16px 0 16px;
  background-color: #292929;
  border-bottom: 2px solid #25ffed;
}
.home .home__copy img {
  height: 350px;
}
.home h2 {
  margin: 96px 0 32px 0;
  padding: 16px;
  text-align: center;
  color: #000;
  background-color: #25ffed;
}
.home .contact__with-me {
  display: flex;
  justify-content: center;
  gap: 64px;
  margin-bottom: 64px;
}
.home .contact__with-me div {
  display: flex;
  align-items: center;
  gap: 16px;
}
.home .contact__with-me div img {
  height: 32px;
}
.home .contact__with-me div a {
  color: #fff;
  text-decoration: none;
}
.skills-section .skills-list {
  display: flex;
}
.skills-section .skills-list li {
  list-style: none;
}
.skills-section .skills-list li img {
  height: 80px;
}
#jobs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
#jobs-container .card.job-card {
  padding: 16px;
  width: 45%;
  background-color: #292929;
  border-bottom: 2px solid #25ffed;
}
#education-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
#education-container .card.education-card {
  padding: 16px;
  width: 45%;
  background-color: #292929;
  border-bottom: 2px solid #25ffed;
}
#courses-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
#courses-container .card.course-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28%;
  border: 1px solid #25ffed;
  border-radius: 8px;
}
#courses-container .card.course-card .course-certificade {
  display: flex;
  justify-content: flex-end;
  width: auto;
}
#courses-container .card.course-card .course-certificade a {
  padding: 4px 8px;
  background-color: #25ffed;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
#blog-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
#blog-container article {
  padding: 16px;
  width: 45%;
  background-color: #292929;
  border-bottom: 2px solid #25ffed;
}
#blog-container article > div {
  display: flex;
  justify-content: flex-end;
  width: auto;
}
#blog-container article > div a {
  padding: 4px 8px;
  background-color: #25ffed;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.blog__post .blog__main-image {
  margin-bottom: 32px;
  padding: 16px;
  background-color: #fff;
  border-radius: 62px;
}
.blog__post h3 {
  margin-top: 32px;
}
.blog__post pre {
  padding: 16px 16px 0 16px;
  background-color: #292929;
}
.blog__post img {
  width: -webkit-fill-available;
}
.contact-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  background-color: #292929;
  border-bottom: 2px solid #25ffed;
}
