body {
  padding: 32px;
  background-color: #1f1f1f;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
body header {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header h1 {
  margin: 0;
}
body header nav {
  display: flex;
  gap: 16px;
}
body header nav a {
  color: #fff;
}
body main section h2 {
  margin: 32px 8px;
  padding: 16px;
  text-align: center;
  color: #000;
  background-color: #25ffed;
}
body main section h3 {
  margin-top: 0;
}
#education-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
#education-container .card.education-card {
  padding: 16px;
  width: 45%;
  background-color: #292929;
  border-bottom: 2px solid #25ffed;
}
#courses-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
#courses-container .card.course-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28%;
  border: 1px solid #25ffed;
  border-radius: 8px;
}
#courses-container .card.course-card .course-certificade {
  display: flex;
  justify-content: flex-end;
  width: auto;
}
#courses-container .card.course-card .course-certificade a {
  padding: 4px 8px;
  background-color: #25ffed;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.skills-section .skills-list {
  display: flex;
}
.skills-section .skills-list li {
  list-style: none;
}
.skills-section .skills-list li img {
  height: 80px;
}
#jobs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
#jobs-container .card.job-card {
  padding: 16px;
  width: 45%;
  background-color: #292929;
  border-bottom: 2px solid #25ffed;
}
