@import "./variables.less";
@import "./mixins.less";

// GENERAL
body {
    position: relative;
    height: 100vh;
    background-color: @color-eerie-black;
    font-family: @font-montserrat;
    color: @color-white;
    header {
        padding: 16px 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 a {
            margin: 0;
            text-decoration: none;
            color: @color-white;
        }
        nav {
            display: flex;
            gap: 16px;
            a {
                color: @color-white; 
            }
        }
    }
    main {
        display: flex;
        justify-content: center;
        padding: 16px 32px;
        section, .view {
            max-width: 1200px;
        }
        h2 {
            margin: 32px 0;
            padding: 16px;
            text-align: center;
            color: @color-black;
            background-color: @color-turquoise;
        }
        h3 {
            margin-top: 0;
        }
    }
    // footer {
    //     background-color: @color-turquoise;
    //     position: absolute;
    //     bottom: 0;
    // }
}

// HOME SECTION
.home__copy {
    &--primary {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        padding: 16px 16px 0 16px;
        background-color: @color-dark-charcoal;
        border-bottom: 2px solid @color-turquoise;
        img {
            height: 350px; 
        }
    }
}
.home__skills {
    margin: 64px 0 32px 0;
    .skills-section {
        .skills-list {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 16px;
            li {
                list-style: none;
                img {
                    height: 80px;
                }
            }
            li[title="Less"] img {
                height: 50px; 
            }
        }
    }
}
.home__contact {
    margin: 64px 0 32px 0;
    > div {
        display: flex;
        justify-content: center;
        gap: 64px;
        margin-bottom: 64px;
        div {
            display: flex;
            align-items: center;
            gap: 16px;
            img {
                height: 32px;
            }
            a {
                color: @color-white;
                text-decoration: none;
            }
        }
    }
}

// JOBS SECTION
#jobs-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    .card.job-card {
        padding: 16px;
        width: 46.6%;
        background-color: @color-dark-charcoal;
        border-bottom: 2px solid @color-turquoise;
        @media (max-width: 1256px) {
            width: 100%;
        }
    }
}

// EDUCATION SECTION
#education-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    .card.education-card {
        padding: 16px;
        width: 46.6%;
        background-color: @color-dark-charcoal;
        border-bottom: 2px solid @color-turquoise;
        @media (max-width: 1256px) {
            width: 100%;
        }
    }
}
#courses-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    .card.course-card {
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 29.6%;
        border: 1px solid @color-turquoise;
        border-radius: 8px;
        @media (max-width: 1256px) {
            width: 100%;
        }
        .course-certificade {
            display: flex;
            justify-content: flex-end;
            width: auto;
            a {
                padding: 4px 8px;
                background-color: @color-turquoise;
                border-radius: 4px;
                text-decoration: none;
                color: @color-black;
                cursor: pointer;
            }
        }
    }
}

// BLOG SECTION
#blog-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    article {
        padding: 16px;
        width: 46.6%;
        background-color: @color-dark-charcoal;
        border-bottom: 2px solid @color-turquoise;
        @media (max-width: 1256px) {
            width: 100%;
        }
        > div {
            display: flex;
            justify-content: flex-end;
            width: auto;
            a {
                padding: 4px 8px;
                background-color: @color-turquoise;
                border-radius: 4px;
                text-decoration: none;
                color: @color-black;
                cursor: pointer;
            }
        }
    }
} 
.blog__post {
    .blog__main-image {
        margin-bottom: 32px;
        padding: 16px;
        background-color: @color-white;
        border-radius: 62px;
    }
    h3 {
        margin-top: 32px;
    }
    pre {
        padding: 16px 16px 0 16px;
        background-color: @color-dark-charcoal;
    }
    img {
        width: -webkit-fill-available;;
    }
}
