@import '../../assets/variables';

.projects__container {
  width: 100vw;
  position: relative;
  text-align: center;
  padding: 40px 20px 0px 20px;
  background-color: $lightGrey;
  &:hover {
    background-color: $darkGrey;
    color: $lightGrey;
  }
  .arrow__container {
    font-size: 3rem;
    position: absolute;
    top: -28px;
    right: 22px;
    color: $mediumGrey;
    z-index: 1;
  }
  div.swiper-slide {
    width: 100% !important;
    .projects__item {
      height: 300px;
      width: 200px;
      margin: 20px 5px;
      &:hover {
        opacity: 0.7;
      }
      img {
        border-radius: 10px;
      }
    }
  }
}

.swiper-wrapper {
  display: flex;
}
