.education__item {
  margin: 20px;
  list-style: none;
  .education__title {
    margin: 0 !important;
    font-size: 1.2rem;
    .btn.btn-link {
      padding-left: 0 !important;
      text-align: start;
    }
  }
  .education__company {
    margin: 0;
    font-size: 1rem;
  }
  .education__time {
  }
  .education__skills {
    .education__skills__item {
    }
  }
}
