@import '../../assets/variables';

.education__container {
  .education__item {
    padding: 5px 0px;
    .education__header {
      width: 97%;
      padding: 10px;
      position: relative;
      border-radius: 6px;
      border: none;
      background-color: #e0e0e0;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.1rem;
      cursor: pointer;
      &:hover {
        background-color: #2e2e2e;
        color: #e0e0e0;
      }
      &:focus {
        border: none;
      }
      .fa-angle-double-down {
        position: absolute;
        right: 15px;
      }
    }
    .eduction__body {
      margin: 10px 30px;
      .education__company {
        font-size: 1.1rem;
      }
    }
  }
}

.hidden-class {
  display:none;
}
.rotate-class {
  transform: rotate(180deg);
}