.education__item {
  margin: 20px;
  list-style: none;
  .education__title {
    margin: 0;
    font-size: 1.5rem;
  }
  .education__company {
    margin: 0;
    font-size: 1rem;
  }
  .education__time {
  }
  .education__skills {
    .education__skills__item {
    }
  }
}
