body {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
}

.App {
  height: 100vh;
  position: relative;
  background-image: cover;
  background-size: cover;
  font-family: 'Didact Gothic', sans-serif;
}
