.main-container {
  .main-content {
    .main-background {
      height: 100vh;
      background: url("../../images/main-image.jpg") center no-repeat;
      background-size: cover;
    }
    .main-item {
      position: absolute;
      bottom: 50px;
      padding-left: 50px;
    }
    .main-title {
      font-size: 5rem;
    }
    .main-subtitle {
      font-size: 1.5rem;
    }
  }
  .skills-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 200px;
    margin: 50px;
    text-align: center;
    .marketing-container,
    .audiovisual-container,
    .programming-container,
    .communication-container {
      margin: 30px;
      border: 1px solid #ffffff;
      h3 {
        font-size: 2rem;
        margin-top: 45px;
      }
      .skill-item {
        display: none;
      }
    }
    .marketing-container:hover,
    .audiovisual-container:hover,
    .programming-container:hover,
    .communication-container:hover {
      border: 3px solid;
      h3 {
        display: none;
      }
      .skill-item {
        display: inline;
        width: 8%;
        margin: 45px 10px 0 10px;
      }
    }
  }
}
