.main__container {
  .main-content {
    .main-background {
      height: 100vh;
      background: url("../../images/main-image.jpg") center no-repeat;
      background-size: cover;
    }
    .main-item {
      position: absolute;
      bottom: 50px;
      padding-left: 50px;
    }
    .main-title {
      font-size: 5rem;
    }
    .main-subtitle {
      font-size: 1.5rem;
    }
  }
}




.skills__project-container {
  padding: 30px;
  border-radius: 5px;
}

.skills__container {
  height: 50%;
  text-align: center;
}

.projects__container {
  height: 50%;
}

.skill-item {
  width: 8%;
  margin: 1%;
}