@import '../../assets/variables';

.main__container {
  .main__content {
    .main__background {
      height: 100vh;
      background: url("../../assets/images/background-color.jpg") center no-repeat;
      background-size: cover;
      @media (max-width: 930px) {
        height: 80vh;
      }
      @media (max-width: 774px) {
        height: 50vh;
      }
    }
    .main__title {
      position: absolute;
      bottom: 50px;
      padding-left: 50px;
      font-size: 4rem;
      margin-bottom: 30px;
      @media (max-width: 930px) {
        bottom: 300px;
        font-size: 3rem;;
      }
      @media (max-width: 774px) {
        bottom: 500px;
        font-size: 2rem;
      }
    }
  }
}
