.moreinfo__container {
  display: flex;
  justify-content: center;
  .jobs__container {
    width: 100%;
    .jobs__title {
      margin: 100px 60px 0 60px;
      font-size: 2rem;
    }
  }

  .education__container {
    width: 100%;
    .education__title {
      margin: 100px 60px 0 60px;
      font-size: 2rem;
    }
    .education__item {
      margin: 20px;
      list-style: none;
      .education__title {
        margin: 0;
        font-size: 1.5rem;
      }
      .education__school {
        margin: 0;
        font-size: 1rem;
        a {
          margin-left: 5px;
        }
      }
    }
  }
}
