.cv__container {
  margin: 20px;
  display: flex;
  justify-content: center;
  .jobs__container, .education__container {
    width: 99%;
    .jobs__title, .education__title {
      text-align: center;
    }
    .jobs__list, .education__list {
      padding: 0;
    }
  }
}
