.header__container {
  width: 93%;
  padding: 10px 50px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  .header-title {
    vertical-align: middle;
    text-decoration: none;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 800;
  }
  .header-navbar {
    .header-navbar__list {
      list-style: none;
      display: flex;
      .header-navbar__item {
        vertical-align: middle;
        font-size: 1.5rem;
        color: #ffffff;
        a {
          text-decoration: none;
        }
        a:hover {
          color: #ffffff;
        }
        a:visited {
          color: #ffffff;
        }
      }
      .header-navbar__item.moreinfo {
        margin-top: 5px;
      }
      .header-navbar__item.contact {
        margin-left: 40px;
        padding: 8px 50px;
        border: 1px solid #ffffff;
      }
    }
  }
}
