.header__container {
  width: 93%;
  padding: 0px 50px;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: #35007a;
  .header-title {
    font-size: 3rem;
    font-weight: 800;
    padding-top: 6px;
    vertical-align: middle;
    text-decoration: none;
    color: #ffffff;
  }
  .header-navbar {
    .header-navbar__list {
      list-style: none;
      display: flex;
      .header-navbar__item {
        vertical-align: middle;
        font-size: 1.5rem;
        color: #ffffff;
        a {
          text-decoration: none;
          color: #ffffff;
        }
        a:hover {
          color: #ffffff;
          border-bottom: 3px solid #ffffff;
          padding-bottom: 25px;
        }
        a:visited {
          color: #ffffff;
        }
        a:active {
          border-bottom: 3px solid #ffffff;
          padding-bottom: 25px;
        }
      }
      .header-navbar__item.moreinfo,
      .header-navbar__item.other-courses {
        margin: 6px 0 0 20px;
      }
      .header-navbar__item.contact {
        margin-left: 40px;
        padding: 8px 50px;
        border: 1px solid #ffffff;
      }
      .header-navbar__item.contact a:hover {
        border-bottom: none;
      }
    }
  }
}

@media (min-width: 320px) {
  .header__container {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }
  .header__container .header-title {
    font-size: 2rem;
  }
  .header__container .header-navbar .header-navbar__list {
    padding-left: 10px;
}
  .header__container .header-navbar .header-navbar__list .header-navbar__item.contact {
    margin-left: 14px;
    padding: 0px 20px;
  }
  .header__container .header-navbar .header-navbar__list .header-navbar__item a {
    font-size: 1rem;
  }
}

