@import '../../assets/variables';

.footer__container {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: $lightGrey;
  .footer__text {
    font-size: 1rem;
  }
  .footer__info {
    font-size: 1rem;
  }
}
